html {
    height: 100%;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, #141414 0%, #2c2c2c 45%, #474747 99%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 5em;
    width: 5em;
    line-height: 0.9em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-y: hidden;
}

form {
    display: flex;
    flex-wrap: wrap;
  }

.form-group {
    margin: 5px;
    flex: 1;
}

.thirty {
    flex: 1 30%;
}

.fifteen {
    flex: 1 15%;
}

.gold-and-silver-text {
  background: #8b4513;
  background-color: #8b4513;
  background-clip: content-box;
  background: conic-gradient(
    yellow 16.666%,
    #B8860B 16.666%,
    #B8860B 33.333%,
    #EEE8AA 33.333%,
    #EEE8AA 50%,
    gold 50%,
    gold 66.666%,
    #DAA520 66.666%,
    #daa520 83.333%,
    #FFD700 83.333%);
  background-size: -33%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row {
    margin-bottom: 0px !important;
}

#row-0 {
    margin-bottom: 12px;
    margin-top: auto;
}

#row-2 {
    margin: 0px;
}

#row-3 {
    margin: 0px;
}

.material-icons {
    color: goldenrod;
    font-size: 3.2rem !important;
}


.search-form {
    padding: 15px;
    border-radius: 12px;
    border: 6px solid #9ccc65;
    background-image: linear-gradient(45deg, #d4d4d4 0%, #c0c0c0 35%, #a3a3a3 80%)
}

.input-text {
    font-family: "PT Sans", Verdana, Geneva;
    font-size: 30px !important;
}

.input-field input[type=text]:focus {
    border-bottom: 3px solid#c8e6c9 !important;
}

.input-field .prefix {
    color: #929292;
    font-size: 40px;
    top: auto;
  }
       
.input-field .prefix.active {
    color: #383838;
    font-size: 40px;
    top: auto;
  }

  ::placeholder { 
      color: #474747;
  }

.main-title {
    font-size: 30px;
    font-family: "PT Sans", 'Lucida Sans', 'Verdana', Geneva, sans-serif;
    border-radius: 12px;
    border: 6px solid #0277bd;
    background-image: linear-gradient(45deg, #cacaca 0%, #afafaf 35%, #969696 75%);
    vertical-align: center;
    text-align: center;
  }

.modal-content, .modal-footer {
    background-color: #424242;
}

.modal-content p {
    font-size: 20px;
    font-family: "Asap", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, sans-serif;
    color: #FFD700;
}

#modal-close {
    color: #9c9c9c;
    font-family: "PT Sans", Verdana, Geneva;
}

.bottom {
    vertical-align: bottom;
}

.secondary-data {
    font-size: 25px;
    font-family: "PT Sans", Verdana, Geneva;
    color: whitesmoke;
    padding-left: 55px;
}

.new-div {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    text-align: center;
}

.padding {
    margin-left: 55px;
}

.style1 {
    color: #0b69b1;
}

.style2 {
    color: #0277bd;
}

.style3 {
    color: #0288d1;
}

.style4 {
    color:#2a67cf;
}

.style5 {
    color: #1976d2 ;
}

.gold {
    font-size: 24px;
    color: #FFD700 !important;
}

.center {
   text-align: left;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* small desktops */
@media screen and (max-width: 980px) {

}

/* tablets */
@media screen and (max-width: 768px) { 
    * {
        overflow-x: hidden;
    }
}

/* phones */
@media screen and (max-width: 575px) { 
    * {
       overflow-x: hidden;
    }

    .secondary-data {
        padding-left: 0px;
        font-size: 18.1px;
    }

    .padding {
        margin-left: 0px;
    }
}

